@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
	@apply scrollbar-thin scrollbar-thumb-transparent hover:scrollbar-thumb-gray-200 scrollbar-track-transparent hover:scrollbar-track-gray-100;
}

.tag {
	@apply bg-gray-200 text-gray-500 hover:text-black hover:shadow-xl rounded-xl py-1 px-3 text-xs;
}

.ellipsis {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.ellipsis-2 {
	-webkit-line-clamp: 2;
}
.ellipsis-3 {
	-webkit-line-clamp: 3;
}

.text-input {
	@apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-rose-500 focus:border-rose-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-rose-500 dark:focus:border-rose-500 transition-all duration-150 ease-in-out;
}

.btn-default {
	@apply text-white bg-rose-700 hover:bg-rose-800 focus:ring-4 focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-rose-600 dark:hover:bg-rose-700 focus:outline-none dark:focus:ring-rose-800;
}

.link {
	@apply text-blue-500 hover:text-blue-600 dark:text-blue-400;
}
